.kanbanBoard {
  display: flex;
  gap: 2vw;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  box-shadow: 5px 5px #f6f7f3;
  margin: 2vw;
  padding: 2vw;
  border: 1px solid #000;
}

.column {
  background-color: #fff;
  border: 1px solid #000;
  padding: 2vw;
}

.column span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column div:nth-child(even) ul {
  background-color: #f6f7f3;
  box-shadow: 5px 5px #f6f7f3;
}
