.labelTitle {
  margin-top: 3vh;
}

.radioArea {
  display: flex;
}

.radioArea label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5vh;
}

.radioArea input {
  display: block;
  margin: 2vh;
  width: 10vh;
}

.notes {
  height: 25vh;
  width: 75vh;
}

textarea {
  margin-top: 1.5vh;
  height: 50vh;
  width: 75vh;
}

.labelTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.labelIcon {
  margin: 1vh;
}
