.newJobFieldset {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelTitle {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
}

.radioArea {
  display: flex;
  flex-wrap: wrap;
}

.radioArea label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.1vw;
}

.radioArea input {
  display: block;
  margin: 0 0 0.5vw 0;
}

.labelTitleRemote {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.remoteSection {
  font-size: 1.2em;
  background-color: #f6f7f3;
  border: 1px solid #000;
  box-shadow: 5px 5px #f6f7f3;
  padding: 1vw;
  border-radius: 2px;
  margin-top: 2vw;
}

.labelTitleStatus {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statusSection {
  font-size: 1.2em;
  background-color: #f6f7f3;
  padding: 1vw;
  border-radius: 2px;
  margin-top: 2vw;
}

.notes {
  height: 25vw;
  width: 50vw;
}

.labelIcon {
  margin: 1vw;
}

.newJobTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.newJobBottom {
  display: flex;
}
