@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Work+Sans:wght@300;400&display=swap');
/* 
font-family: 'Playfair Display', serif;
font-family: 'Work Sans', sans-serif; 
*/

/* 
#FCFC62 - Laser Lemon 
#FEFFEA - Ivory
#C9C9c9 - Silver Sand
#A3A3A3 - Quick Silver
#424242 - Onyx
*/

fieldset {
  border: dotted 1px grey;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.9);
}

legend {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 1.5em;
}

label {
  margin: 1vh;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.labelTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.labelIcon {
  margin: 0.5vh;
}

input {
  display: block;
  margin-top: 0.5vh;
  width: 25vh;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.07em;
  padding: 1vh;
}

input:focus,
button:focus {
  outline: none;
  border: dotted 1px grey;
  border-radius: 2px;
  background-color: #fcfc62;
}

/* Override default highlight/text selection color */
::selection {
  background: #c9c9c9; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #c9c9c9; /* Gecko Browsers */
}

button {
  background-color: #fff;
  margin: 1vh;
  padding: 0.5em;
  border: solid 1px grey;
  border-radius: 2px;
  align-self: flex-end;
  font-family: 'Cartograph CF Demi', monospace;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

button:hover {
  background-color: #fcfc62;
}

button:active {
  color: #fcfc62;
  background-color: #c9c9c9;
}

.LogInLink {
  text-transform: uppercase;
  font-size: 0.85em;
  margin: 1vh;
}
