@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400&family=Roboto+Mono:wght@300&family=Tinos&family=Work+Sans:wght@300;400&display=swap');

/* 
font-family: 'Red Hat Mono', monospace;
font-family: 'Roboto Mono', monospace;
font-family: 'Tinos', serif;
font-family: 'Work Sans', sans-serif; 
*/

body,
html {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.07em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

fieldset {
  border: dotted 1px grey;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

legend {
  font-family: 'Tinos', serif;
  font-size: 1.5em;
}

label {
  margin: 1vh;
  font-size: 0.75em;
}

input {
  margin-top: 0.5vh;
  display: block;
  width: 25vh;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.07em;
  padding: 1vh;
}

input:focus,
button:focus {
  outline: none;
  border: dotted 1px grey;
  border-radius: 2px;
}

button {
  background-color: #fff;
  margin: 1vh;
  padding: 0.5em;
  border: solid 1px grey;
  border-radius: 2px;
  align-self: flex-end;
  font-family: 'Work Sans', sans-serif;
}
